:root {
    --fundoCinza: #c9c6c6;
    --fundoBranco: #ffffff;
    --fundoAzul: #eaf2fd;
    --corVermelha: #ff0000;
    --corPreta: #000000;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;




}



.cabecalho {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 56px;
    padding: 16px;



}

.cabecalho__logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 13px;
}



.principal__header {
    margin-left: 13px;
}

.principal__header p {
    margin-top: 15px;
}

.principal__header__foto {
    width: 98px;
    height: 98px;
    border-radius: 50px;


}

.cabecalho__contato {
    margin: 15px;


}

.principal__links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;

}


.links {
    display: flex;
    width: 80%;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    margin: 5px;

}


.links li {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}



.links:hover> :not(:hover) {
    transform: scale(.8);
    opacity: .4;
    transition: .7s;

}



.links a {
    text-decoration: none;
    font-size: 19px;
}

.about {
    display: flex;
}

.about__conteudo {
    background-color: var(--fundoAzul);
    width: 100%;
    height: 400px;
    padding: 16px;

}

.about__conteudo p {
    padding: 5px 0px;
}

/* SKILLS */
.skills {
    background-color: var(--fundoCinza);
}

.skill__body:hover> :not(:hover) {
    opacity: .4;
    transform: scale(.9);
}

.skill__titulo {
    display: flex;
    justify-content: center;
}

.skill__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px 16px;
    gap: 30px;



}

.skill__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: var(--fundoBranco);
    transition: .35s;
    cursor: pointer;


}

.skill__item img {
    width: 32px;
    height: 37px;
    margin: 16px;

}

.skill__item p {
    margin: 16px;

}

/* HOBBIES */

.hobbies {
    background-color: var(--fundoCinza);
}

.hobbie__titulo {
    display: flex;
    justify-content: center;
}

.hobbie__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px 16px;
    gap: 30px;
    transition: .35s;
    cursor: pointer;
}

.hobbie__body:hover> :not(:hover) {
    opacity: .4;
    transform: scale(.9);
}

.hobbie__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: var(--fundoBranco);


}

.hobbie__item img {
    width: 32px;
    height: 37px;
    margin: 16px;

}

.hobbie__item p {
    margin: 16px;

}

/* FORMAÇÃO */

.formacao {
    background-color: var(--fundoAzul);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


.formacao__item {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;


}

.formacao__logo {
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: var(--fundoBranco);
}

.formacao__descricao {
    flex-direction: column;
    align-self: flex-start;
    margin: 16px;


}

/* PROJETOS */

.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c9c6c6;



}





.projetos__item__descricao h4 {
    margin-top: 5px;
    margin-bottom: 1px;




}

.projetos__item__descricao p {
    margin-top: 5px;





}

.projetos__item__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;


}



.button__repositorio {
    background-color: var(--corPreta);
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--fundoBranco);
    opacity: .6;
}

.button__demo {
    background-color: var(--fundoAzul);
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--corPreta);
    opacity: .6;

}


.button__repositorio:hover {
    transition: 1s ease-in-out;
    background: var(--fundoAzul);
    opacity: 1;
    transform: scale(1.1);
    color: var(--corPreta);


}

.button__demo:hover {
    transition: 1s ease-in-out;
    background: var(--corPreta);
    opacity: 1;
    transform: scale(1.1);
    color: var(--fundoBranco);
}



.rodape {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* FIM MOBILE */

/* INICIO TABLET */







@media(min-width: 834px) {}